@import "../../../../scss/index.scss";

.post-list-web {
  background-color: rgba(0,0,0,0.1);
  padding: 50px;
  margin: 50px 0;
  > h1 {
    text-align: center;
    font-size: 80px;
    color: $primary-color-light;
  }

  .post {
    color: $font-light;

    &:hover{
      background-color: rgb(0, 0, 0,0.15);
    }

    a {
      margin: 0;
      padding: 0;
    }

    &__date {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      margin-right: 20px;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 5px 15px;
    }

    .ant-list-item-meta-title {
      color: $primary-color-light;
      font-size: 16px;
      &:hover {
        color: $primary-color-dark;
      }
    }
    .ant-list-item-meta-description{
      color: $font-grey-light;
      font-size: 16px;
      &:hover {
        color: $primary-color-dark;
      }
    }
  }
}
