@import "../../../../scss/index.scss";

.post-info {
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif;
  h1{
    color: $font-yellow;
}

h2{
    color: $font-yellow;
}

  &__title {
    text-align: center;
    margin-bottom: 0;
    color: $primary-color-light !important;
    font-weight: bold;
    font-size: 40px;
  }

  &__creation-date {
    text-align: center;
    color: $primary-color-light-dark;
    width: 100%;
    margin-bottom: 100px;
  }

  &__description {
    color: $font-light;
    font-size: 16px;
    margin-bottom: 100px;
    font-size: 30px;
  }
}
